@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.info{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 25rem;
    height: 70vh;
    background-color:rgba(255, 255, 255,0.2);
    border-radius: 25px; 
    backdrop-filter: blur(3px);
    transition: 0.3s;
    box-shadow: 1px 1px 20px #14EACFFF,1px 1px 20px #14EACFFF;
    animation:card 2s ease-in infinite;
}
.card:hover .img{
    box-shadow: rgb(24, 255, 97) 0px 1px 4px, rgb(46, 243, 16) 0px 0px 0px 3px;
    
}
.myname{
    background-image:-webkit-linear-gradient(40deg,#f4b71d,#4fff2f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    animation: hue  2s linear infinite;
}
.img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 1.2rem;
    background-image: url(./dp.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    /* border: 9px solid rgba(34, 243, 34,1); */
    transition: 0.3s;
    
}
.content{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:15px
}
.icons i{
    font-size: 50px;
    cursor: pointer;
}
.icons a{
    color: #fff;
}
#git, #linkedin{
    margin-right: 15px;
}
#git:hover{
    color: #000;

}
#insta:hover{
    color: rgb(205, 23, 162);
}
#linkedin:hover{
    color: rgb(11, 55, 251);
}
.para{
    padding: 1.3rem 1rem;
    text-align: center;
}
.para h1{
    font-size: 40px;
}
.para p{
    font-size: 20px;
}
.data{
    line-height: 35px;
    font-family: 'Oswald', sans-serif;
}
.data p{
    font-size: 20px;
}
.row{
    display: flex;
    width: 100%;
    min-height: 50vh;
    padding: 10px 20px;
    /* position: relative; */
    
}
.col1, .col2{
    padding: 3rem;
    width: 50%;
    min-height: 30vh;
    /* background-color: aquamarine; */
    margin: 10px 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 25px;
   
}
.col2{
    padding: 50px;
    width: 50%;
    /* position: relative; */
    min-height: 30vh;
}
.col2 p{
    font-size: 18px;
}
.bold{
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-bottom: 20px;
}
.data span{
    font-size: 18px;
}
.details
{
    width: 100%;
    min-height: 80vh;
    
    padding: 10px 30px;
}
.buttons{
    margin-top: 15px;
    width: 100%;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#hire{
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: 5px solid #000;
    color: rgb(34, 243, 34);
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    border-radius: 5px;
    /* position: absolute; */
    bottom: 0;
    font-size: 18px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.3s;
}
#download{
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(34, 243, 34);;
    border: 5px solid rgb(34, 243, 34);;
    color:#000;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    border-radius: 5px;
    /* position: absolute; */
    bottom: 0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}
#download:hover{
    box-shadow: rgb(37, 43, 37) 0px 8px 14px, rgb(24, 30, 24) 0px 16px 16px;
}
#hire:hover{
    box-shadow: rgb(37, 43, 37) 0px 8px 14px, rgb(24, 30, 24) 0px 16px 16px;
}
.skills{
    width: 100%;
    min-height: 60vh;
    padding: 3rem;
    /* background-color: aquamarine; */
    
}
.all-skills{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

}
.project{
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    

}
.program, .tools, .others{
    width: 33%;
    height: 40vh;
    padding: 20px;
    line-height: 30px;
    /* background-color: red; */
}
.project-info{
    display: flex;
    width: 100%;
    min-height: 50vh;
    padding: 10px 20px;
    
} 
.desc{
    padding:14px;
    width: 50%;
    line-height: 2.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.project h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.project-info .pic{
    border-radius: 25px;
    background-image: url(./gpa.png);
    background-position: center;
    background-size: cover;
    width: 50%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}
#port{
    background-image: url(./pro2.png);
}
.pic:hover .hover-para{
    top: 0;
    left: 0;
    display: block;
    width: 90%;
    
}
.hover-para{
    background-color: rgba(0, 0, 0,0.4);
    transition: all 0.4s;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 1;
    padding: 20px;

}
.desc a{
    border:2px solid rgb(28, 167, 28);
    width: 190px;
    padding: 7px 40px;
    background-color: rgb(28, 167, 28);
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    display: block;
    margin: auto;
    transition: all 0.4s;
}
.desc a:hover{
    background: transparent;
    color:rgb(7, 99, 7);
    border:2px solid rgb(7, 99, 7);
}
.new{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
footer{
    width: 100%;
    min-height: 35vh;
    background-color: #000;
    color: #fff;
    padding: 1.8rem;
    text-align: center;
}
.contact{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.contact i{
    cursor: pointer;
    font-size: 30px;
    margin-bottom: 1rem;
}
.contact i:hover{
    color: rgb(41, 255, 25);
}
.contact p{
    font-size: 1.2rem;
}
.contact-info
{
    color: rgb(41, 255, 25);
}
footer h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ================================================================================================ */
@media screen and (max-width:1000px){
    .row{
        flex-direction: column;
    }
    .col1, .col2{
        padding: 1rem;
        width: 100%;
        min-height: 20vh;
        margin-left:0;
    }
    .col2{
        min-height: 60vh;
    }
    .details{
        padding: 5px 10px

    }
    .project-info{ 
         flex-direction: column;
    }
    .desc{
        padding: 1rem;
        width: 100%;
        min-height: 20vh;
        
    }
    .project-info .pic
    {
        width: 100%;
    }
    .contact{
        flex-direction: column;
    }
    .location, .mail{
        margin-bottom: 10px;
    }
    .project h2{
        text-align: left;
        animation: color 1s ease infinite;
    }
    .all-skills{
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .program, .tools, .others{
        width: 90%;
        height: 30vh;

    }
}

@keyframes color{
    0%{
        color: #000;
    }
    50%{
        color: #4fff2f;

    }
    100%{
        color: #000;
    }
}
@keyframes card {
    0%{
        box-shadow: rgb(24, 255, 97) 0px 1px 4px, rgb(46, 243, 16) 0px 0px 0px 3px;
    }
    25%{
        box-shadow: rgb(101, 28, 226) 0px 1px 4px, rgb(91, 45, 228) 0px 0px 0px 3px;
    }
    50%{
        box-shadow: rgb(224, 249, 40) 0px 1px 4px, rgb(131, 169, 7) 0px 0px 0px 3px;
    }
    100%{
        box-shadow: rgb(24, 255, 97) 0px 1px 4px, rgb(46, 243, 16) 0px 0px 0px 3px;
    }
    
}
@keyframes hue {
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
    
}
